<ion-header>
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ข้อมูลสมาชิก</ion-card-subtitle>
      <ion-card-title>{{name}} {{lastname}}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     {{ detail }}
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>สมัครสมาชิก</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      ชื่อ <ion-text color="dander">*</ion-text>
      <ion-input type="text" [(ngModel)]= "input_name" autofocus></ion-input>
      นามสกุล  <ion-text color="dander">*</ion-text>
      <ion-input type="text" [(ngModel)]= "input_lastname"></ion-input>
      รายละเอียด  <ion-text color="dander">*</ion-text>
      <ion-input type="text" [(ngModel)]= "input_detail"></ion-input>
      <ion-button expand="block" (click)="register()">Register</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>